.sliderWrapper{
    background: linear-gradient(240.67deg,rgba(87,118,219,.75) 10.22%,rgba(0,37,158,.75) 87.66%),#5776db;
    padding:120px 15px 80px;
    .slick-arrow.slick-prev{
        top: unset;
        bottom: 0;
        left: 0;
        z-index: 99;
        &::before{
            font-size: 35px;
        }
    }
    .slick-arrow.slick-next{
        top: unset;
        bottom: 0;
        left: 50px;
        z-index: 99;
        &::before{
            font-size: 35px;
        }
    }

}
.sliderWrapper .Content-slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    color: #fff;
}
.sliderWrapper .Content-slider h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
}
.sliderWrapper .Content-slider p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}
.sliderWrapper .slick-dots{
    background: #41dfc0;
    max-width: 150px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            border-radius: 17px;
            bottom: 5px;
            padding: 10px 15px;
            bottom: -30px;
            padding: 10px 15px;
            left: 50%;
            transform: translateX(-50%);
}
.sliderWrapper .slick-dots li button:before{
    line-height: initial;
    color: transparent;
}
.slick-slide *{
    outline: 0 !important;
}
.slick-dots li button:before,
.slick-dots li button,
.slick-dots li{
    height: auto;
    width: auto;
}
.slick-dots li button{
    background: #fff;
    border-radius: 9px;
    width: 15px;
    height: 15px;
}
.slick-dots li.slick-active button {
    opacity: 0.7;
}
