.portfolio-row{
    .box{
        position: relative;
        padding: 15px;
        box-shadow: 0 0.15rem 0.55rem -0.1rem rgba(50,50,93,.25), 0 0.3rem 1rem -2rem rgba(0,0,0,.3), 0 -0.1rem 1rem -0.1rem rgba(0,0,0,.025);
        transition: 0.2s ease-in-out;
        &:hover{
            box-shadow: 0 -0.45rem 0.85rem 0 rgba(0,0,0,.15), 0 1rem 0.95rem 0.1rem rgba(0,0,0,.15);
        }
        .box-label{

            .label-bg{
                background-image:url(../../../assets/svg/label-purple.svg);
                width: 195px;
                height: 35px;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                top: 0;
            }
            .label-text{
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                font-size: 16px;
                line-height: 16px;
                color: #fff;
                padding: 8px;
                font-weight: 500;
            }
        }
        .box-thumnails{
            padding: 50px 0 20px;
        }
        .box-content{
            h3{
                font-size: 20px;
                font-weight: 700;
                text-align: center;
            }
        }
    }
}